<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<div class="meal1">
    <img src="/Assets/meal1.jpg" alt="Eat up">
    <div class="banner-text">
        <h3>Cheeseburger</h3>
        <p>Crunchy, Cheesy, Delicious.
            <p class="lead">
      <a class="btn btn-primary btn-lg" href="/bookslist" role="button">Reserve</a></p>
    </div>
</div>

<div class="meal2">
    <img src="/Assets/meal2.jpg" alt="Eat up">
    <div class="banner-text">
        <h3>Ramen</h3>
        <p>Hot, Spicy, Customizable.
            <p class="lead">
      <a class="btn btn-primary btn-lg" href="/bookslist" role="button">Reserve</a></p>
    </div>
</div>

<div class="meal3">
    <img src="/Assets/meal3.jpg" alt="Eat up">
    <div class="banner-text">
        <h3>Pasta</h3>
        <p>Classic or not, it's coming hot!
            <p class="lead">
      <a class="btn btn-primary btn-lg" href="/bookslist" role="button">Reserve</a></p>
    </div>
</div>



<%- include Partials/footer.ejs%>